<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_integration>
            <general>
                <enabled>1</enabled>
                <log_payload>0</log_payload>
                <max_try>5</max_try>
            </general>
        </order_integration>
    </default>
</config>
